<div *ngIf="!artists.length">
  <button type="button" class="btn btn-primary center" (click)="searchArtists()">Search Artist</button>
</div>

<div>
<div id="overlay" class="center" style="height: 100%; width: 100%">
  <div style="background-color:white;
      position: absolute;
    top: 33%;
    left: 33%;
    padding: 3%;
    text-align: center;">
      <div><label for="name">Name:</label><input name="name" id="name" type="text" [(ngModel)]="name"></div>
      <div><label for="limit">No. of Tracks</label><input name="limit" id="limit" type="text" [(ngModel)]="limit"></div>
      <div><button type="button" class="btn btn-primary" style="margin-top: 5%;" (click)="submitArtists()">Search</button></div>
      <div style="color:red">{{errorMessage}}</div></div>
</div>
</div>


<div *ngIf="artists.length">
    <table class="row">
      <tr>
          <td *ngFor="let artist of artists">
            <button type="button" [class.white-background]="selectedArtist.artistName == artist.artistName" style="display: inline" (click)="fetchTabData(artist.artistName)" >{{artist.artistName}}</button>
          </td>
      </tr>
    </table>
    <div style="padding:2rem">
      <div>Artist:{{selectedArtist.artistName}}</div>
      <div>Track:{{selectedArtist.collectionName}}</div>
    </div>
</div>